.card {
  background: linear-gradient(to bottom, $tertiary, $quarternary, $tertiary);
  margin: 2rem 3%;
  border-radius: 0.5rem;
  // border: 1px solid #ccc;
  &__container {
    margin: 0 3%;
    padding: 2rem 0;
  }
  &__projectImageContainer {
    @include flex(row-reverse, center, center);
    width: 95%;
    position: relative;
  }
  &__imageContainer--arrow {
    background-color: $highlight;
    padding: 0.6rem;
    width: 4rem;
    border: 3px solid $highlight;
  }
  &__imageContainer--arrow:hover {
    border: 4px solid $primaryText;
    transition: 0.4s ease-in-out;
  }
  &__projectTitle {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 1rem 0 0.5rem 0;
    @include headers(black, 1.8rem, uppercase);
    font-weight: normal;
  }
  &__projectImage {
    border-radius: 0.5rem;
  }
  &__arrow {
    width: 100%;
  }
  &__liveSiteButtonContainer {
    position: absolute;
    top: 2rem;
    right: -2rem;
  }
  &__liveSite {
    @include headers(black, 1.8rem, uppercase);
    letter-spacing: 0.2rem;
    transform: rotate(-90deg);
    width: 11rem;
    position: absolute;
    top: 6rem;
    left: -2.2rem;
  }
  &__projectUnderline {
    height: 0.2rem;
    background-color: $highlight;
    border-radius: 1rem;
    max-width: 34rem;
    width: 80%;
    margin: 0 auto 2rem 0;
    opacity: 0.7;
  }
  &__projectDescription {
    @include text($primaryText, 1.8rem, none);
    font-size: 1.8rem;
  }
  &__icon {
    font-size: 4rem;
  }
  &__logoContainer {
    width: 3.8rem;
    margin: 0 1rem;
  }
  &__techList {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin: 3rem 0;
  }
  &__techUsed {
    @include flex(row, center, center);
    margin: 15px;
  }
  &__code {
    @include headers($primaryText, 1.8rem, uppercase);
    border: 3px solid $highlight;
    width: 16rem;
    background-color: transparent;
    letter-spacing: 0.3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    text-align: center;
  }
  &__code:hover,
  &__code:focus {
    cursor: pointer;
  }
  &__writtenContentContainer {
    @include flex(column, center, center);
  }
}

@media (min-width: 940px) {
  .card {
    width: 100%;
    margin: 4rem 0;
    &__container {
      @include flex(row, center, flex-start);
      padding: 3rem 0 5rem;
    }
    &__projectImageContainer {
      width: 50%;
    }
    &__writtenContentContainer {
      width: 45%;
      margin-left: 5%;
    }
  }
}

.card:nth-child(even) > .card__container {
  flex-direction: row-reverse;
}

.card:nth-child(even) > .card__container > .card__writtenContentContainer {
  margin: 0 3% 0 0;
}
