@media (min-width: 650px) {
  // BIO SECTION
  .bioContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 70rem;
    margin: 0 auto;
  }

  .photo {
    width: 50%;
  }

  .writtenContentTitles {
    width: calc(50% - 8rem);
    margin: 0 4rem;
    align-self: center;
    position: relative;
    top: 8.5rem;
  }

  .blurb {
    max-width: 100%;
    margin: 0;
    align-self: start;
  }

  // SKILLS SECTION
  .skillsSection {
    .skills {
      li {
        margin: 2rem;
        width: calc(50% - 4rem);
      }
      i {
        font-size: 6rem;
      }
    }
    li {
      .logoContainer {
        width: 6rem;
      }
    }
    p {
      font-size: 2rem;
    }
    ul.skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // FOOTER
  form input {
    min-width: 22rem;
  }
  .inputs {
    @include flex(flex, auto, space-between, center);
  }
}

@media (min-width: 940px) {
  .skillsSection ul.skills {
    grid-template-columns: repeat(4, 1fr);
  }

  .projects .card .innerCard {
    flex-direction: row;
    max-width: 90rem;
  }

  .image {
    margin-right: 4rem;
  }

  .innerCardEven .image {
    order: 1;
  }
  .innerCardEven .cardWrittenContent {
    order: 0;
  }

  .cardWrittenContent {
    margin: 0 2rem;
  }

  .projects .card h3 {
    font-size: 2.2rem;
  }

  footer .footerContainer {
    @include flex(flex, row, space-between, center);
  }
  footer ul {
    margin: 0;
  }
}
