.nav {
  background-color: $tertiary;
  &__wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
  }
  &__pageTitle {
    position: relative;
    @include flex(flex, row, space-between, center);
    background-color: $tertiary;
    height: 17vh;
    z-index: 20;
  }
  &__name {
    @include headers($primaryText, 2.2rem, uppercase);
  }
  &__underline {
    width: 100%;
    border-bottom: 3px solid $highlight;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
  }
  &__jobTitle {
    @include headers($primaryText, 1.6rem, uppercase);
    letter-spacing: 0.2rem;
  }
  &__burger {
    font-size: 2.2rem;
  }
  &__burger:hover {
    cursor: pointer;
  }
  &__navbarLink {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.8rem;
    font-family: "Monserrat", sans-serif;
    color: $primaryText;
    background-color: $tertiary;
    text-transform: uppercase;
  }
  &__navbar {
    z-index: -1;
    left: 0;
    top: -17.1vh;
    transition: 0.5s;
    width: 100%;
    position: absolute;
  }
  &__navbarItem {
    border: 1px solid $tertiary;
    width: 100%;
  }
  &__navbarItem:hover {
    border: 1px solid $highlight;
    transition: all 0.8s;
  }
  &__checkbox[type="checkbox"]:checked + .nav__navbar {
    top: 17vh;
  }
  &__checkbox[type="checkbox"] {
    display: none;
  }
}

@media (min-width: 940px) {
  .nav {
    &__container {
      @include flex(flex, row, space-between, center);
    }
    &__navbar {
      width: 40%;
      position: static;
      transition: none;
      @include flex(flex, auto, flex-end, flex-end);
      z-index: 20;
    }
    &__burger {
      display: none;
    }
    &__navbarLink {
      min-width: 12.5rem;
    }
  }
}
