.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.relativeContainer {
  position: relative;
}

body {
  background-color: $tertiary;
}

h3,
.bio h2 {
  @include headers(inherit, 2.2rem, uppercase);
}

button,
header i {
  font-size: 2.2rem;
}

h3 {
  letter-spacing: 0.08rem;
  padding: 0.4rem 0;
}

p,
.card h3 {
  font-weight: 400;
}

p {
  @include text($primaryText, 1.6rem, none);
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

button,
.card,
.projects li,
textarea,
input {
  padding: 1rem;
}

button,
.bio h3 {
  font-weight: 600;
}

.vertical,
.image p {
  transform: rotate(-90deg);
}

.vertical,
.image p,
.image button,
ul.navbar {
  position: absolute;
}

// ul.navbar {
//   position: fixed;
// }

.vertical {
  left: -4.5rem;
}

.skillsSection .vertical {
  top: -2rem;
}

.projects .vertical {
  top: -8rem;
}

footer .vertical {
  top: -3.5rem;
}

button {
  width: 16rem;
  background-color: transparent;
  border: 3px solid $highlight;
  @include headers($primaryText, 1.4rem, uppercase);
  letter-spacing: 0.3rem;
}

.underlines {
  border-bottom: 3px solid $highlight;
}

nav,
ul.navbar,
ul.navbar a,
.photo img,
.image img,
form,
input,
textarea {
  width: 100%;
}

header,
nav {
  @include flex(flex, row, space-between, center);
}

header h2,
.card h3 {
  letter-spacing: 0.2rem;
}

nav,
.bioContent,
.image,
.projects,
.skillsSection,
footer {
  position: relative;
}

header ul li:hover,
.projectUnderline,
input:hover,
input:focus-within,
textarea:hover,
textarea:focus-within {
  border: 1px solid $highlight;
}

header ul li a,
.image p {
  @include headers($primaryText, 1.8rem, uppercase);
}

header ul li,
.skillsSection p {
  text-align: center;
}

button,
a {
  cursor: pointer;
}

.underlines {
  width: 110%;
}

// HEADER
header {
  height: 12rem;
  h2 {
    @include headers(inherit, 1.5rem, uppercase);
  }
  nav {
    padding: 7%;
  }
  ul.navbar {
    right: -100%;
    top: 12rem;
    transition: 0.5s;
  }
  input[type="checkbox"]:checked + ul.navbar {
    right: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  h1 {
    @include headers($primaryText, 2.2rem, uppercase);
  }
  .projectUnderline {
    width: 83%;
    max-height: 4px;
    margin: 0.5rem 0;
  }
  ul li{
    border: 1px solid transparent;
  }
  ul li a {
    padding: 1.5rem;
    display: inline-block;
  }
}

.photo {
  max-width: 31.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.bioContent {
  bottom: 18rem;
}

ul.navbar li,
.skillsSection,
.techUsed {
  background-color: $secondaryText;
}

.photoBackground {
  @include altColorTheme();
  height: 40rem;
  padding: 0;
}

.bio p,
.projectUnderline,
.projects ul,
form button {
  margin-top: 2rem;
}

.projects h2,
.skillsSection h2,
.image p,
footer h2 {
  letter-spacing: 0.4rem;
}

.bio {
  background: linear-gradient(to bottom, $tertiary, #747272, $tertiary);
  max-height: 100rem;
  h3 {
    @include headers(inherit, 1.6rem, uppercase);
  }
  .projectUnderline {
    border: 1px solid $secondaryText;
    opacity: 0.2;
  }
}

button:hover,
button:focus-within {
  border: 3px solid $primaryText;
  transition: 0.5s;
}

.skillsSection ul,
.projects li {
  @include flex(flex, column, center, center);
}

.projects,
.skillsSection,
footer {
  h2 {
    @include headers(inherit, 1.4rem, uppercase);
    padding: 0.5rem 0 0;
  }
}

.skillsSection .logos,
.projects ul {
  @include flex(flex, row, center, center);
}

.skillsSection {
  margin: 8rem 0;
  h2 {
    top: -2rem;
    padding-top: 3rem;
  }
  ul {
    margin: 3rem 0;
  }
  p {
    margin-top: 1rem;
    align-items: center;
  }
  i {
    font-size: 3rem;
  }
  .logos {
    margin-bottom: 0;
    li {
      margin: 1rem;
      @include flex(flex, column, space-between, center);
      min-width: 8rem;
    }
    .logoContainer {
      width: 3rem;
      min-height: 3rem;
    }
    svg {
      width: 3rem;
    }
    .logoContainer img {
      width: 100%;
    }
  }
}

.lastChild,
.card,
.colorBanner {
  margin-bottom: 5rem;
}

.card,
form {
  @include flex(flex, column, auto, auto);
}

.card h3,
input,
textarea {
  margin-top: 1rem;
}

.image button,
input {
  height: 4rem;
}

.cardWrittenContent {
  @include flex(flex, column, flex-end, center);
  h3 {
    align-self: start;
  }
}

.projects {
  .cards {
    @include flex(flex, column, center, center);
  }
  .image,
  .cardWrittenContent {
    flex-basis: 50%;
    .projectUnderline {
      border-radius: 1rem;
      max-width: 30rem;
      width: 80%;
      margin: 0 auto 2rem 0;
      opacity: 0.4;
    }
  }
  .card {
    background: linear-gradient(to bottom, $tertiary, #d3d6d6, $tertiary);
    margin: 6rem auto;
    .innerCard {
      @include flex(flex, column, auto, auto);

      max-width: 60rem;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
  div.colorBanner {
    background-color: $secondary;
    height: 10rem;
  }
  h2 {
    top: 7.5rem;
  }

  ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    li {
      min-width: 7.5rem;
    }
    li p {
      font-size: 1.6rem;
    }
  }

  .image {
    width: 90%;
    p {
      right: -7.2rem;
      top: 10rem;
    }
    button {
      width: 4rem;
      right: -2rem;
      background-color: $highlight;
    }
    img {
      border-radius: 0.4rem;
    }
  }

  h3,
  button,
  .techUsed {
    margin: 1rem 0;
  }
  li p {
    margin: 0.2rem;
    font-size: 1.6rem;
  }
  .techUsed {
    color: $primaryText;
    border-radius: 0.3rem;
  }
}

.card i,
footer i {
  font-size: 2rem;
}

button {
  align-self: center;
}

form {
  // max-width: 60rem;
  margin-top: 4.5rem;
  textarea {
    height: 8rem;
    resize: none;
  }
  button {
    color: $secondaryText;
  }
}

form,
footer ul {
  max-width: 60rem;
}

footer {
  margin-top: 15rem;
  .footerContainer {
    @include flex(flex, column, center, center);
  }
  h2 {
    @include headers($primaryText, 1.4rem, uppercase);
    padding: 0.5rem 0 0;
    left: -2.5rem;
    top: 0.5rem;
  }
  @include altColorTheme();
  padding: 3rem 0;
  a,
  p {
    @include text($secondaryText, auto, auto);
  }
  label {
    @include headers($secondaryText, 1.4rem, uppercase);
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin: 0.5rem 0;
  }
  ul {
    margin-top: 4rem;
    @include flex(flex, column, auto, center);
  }
  li {
    @include flex(flex, row, auto, center);
    margin: 0.7rem 0;
  }
  i {
    margin-right: 1rem;
  }
  .copy {
    text-align: center;
    margin-top: 6rem;
  }
}

.code {
  align-self: center;
  background-color: transparent;
  @include headers($primaryText, 1.4rem, uppercase);
  border: 3px solid $highlight;
  width: 16rem;
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: 600;
  padding: 1rem;
}
