// PAGE
html {
  // scroll-behavior: smooth;
  scroll-padding-top: 17rem;
}

body {
  background-color: $tertiary;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
}

.underlines {
  width: 110%;
  border-bottom: 3px solid $highlight;
}

p {
  @include text($primaryText, 1.8rem, none);
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

h3 {
  letter-spacing: 0.08rem;
  padding: 0.4rem 0;
}

.vertical {
  left: -4.5rem;
}

button {
  @include headers($primaryText, 1.4rem, uppercase);
}

button,
.code {
  width: 16rem;
  background-color: transparent;
}

button,
.code,
.image .arrow {
  border: 3px solid $highlight;
}

button,
.code,
footer label {
  letter-spacing: 0.3rem;
}

.wrapper,
ul.skills {
  margin: 0 auto;
}

.code,
button {
  align-self: center;
}

h3,
.bio h2 {
  @include headers(inherit, 2.2rem, uppercase);
}

p,
.card h3 {
  font-weight: 400;
}

button,
.card,
.projects li,
textarea,
input {
  padding: 1rem;
}

button,
.bio h3,
.code {
  font-weight: 600;
}

.vertical,
.image p {
  transform: rotate(-90deg);
}

.vertical,
.image p,
.image .arrow {
  position: absolute;
}

.photo img,
.image img,
form,
input,
textarea,
header,
.photo,
.logoContainer img {
  width: 100%;
}

header h2,
.card h3 {
  letter-spacing: 0.2rem;
}

.relativeContainer,
.bioContent,
.image,
.projects,
.skillsSection,
footer {
  position: relative;
}

.projectUnderline,
input:hover,
input:focus-within,
textarea:hover,
textarea:focus-within {
  border: 1px solid $highlight;
}

header ul li a,
.image p,
.code,
button {
  @include headers($primaryText, 1.8rem, uppercase);
}

header ul li,
.skillsSection p,
.code,
.copy {
  text-align: center;
}

button,
a,
.burger {
  cursor: pointer;
}

.bio p,
.projectUnderline,
.projects ul,
form button {
  margin-top: 2rem;
}

.projects h2,
.skillsSection h2,
.image p,
footer h2 {
  letter-spacing: 0.4rem;
}

.skillsSection,
.techUsed {
  background-color: $tertiary;
}

.code:hover,
.arrow:hover,
.code:focus-within,
.arrow:focus-within {
  border: 3px solid $primaryText;
  transition: 0.3s;
  background-color: $highlight;
}

button:hover,
button:focus-within {
  border: 3px solid $tertiary;
  background-color: $highlight;
  transition: 0.3s;
}

.projects li,
.cards,
.footerContainer {
  @include flex(flex, column, center, center);
}

.skillsSection ul {
  @include flex(flex, column, flex-start, flex-start);
}

.skillsSection li {
  @include flex(flex, column, flex-start, center);
}

.projects,
.skillsSection,
.contact {
  h2 {
    @include headers($primaryText, 1.6rem, uppercase);
    padding: 0.5rem 0 0;
  }
}

.lastChild,
.card,
.colorBanner {
  margin-bottom: 5rem;
}

.card,
form {
  @include flex(flex, column, auto, auto);
}

.card h3,
textarea,
.skillsSection p {
  margin-top: 1rem;
}

.image .arrow,
input {
  height: 4rem;
}

.card i,
.skillsSection i {
  font-size: 4rem;
}

.card ul,
.photo {
  margin-bottom: 2rem;
}

.projects ul,
.skillsSection p {
  align-items: center;
}

h3,
button,
.techUsed {
  margin: 1rem 0;
}

.cardWrittenContent {
  @include flex(flex, column, auto, center);
}

form,
footer ul,
.innerCard {
  max-width: 60rem;
}

footer {
  padding: 3rem 0;
}
.skillsSection ul.skills {
  padding: 2rem 0;
}

.fade {
  opacity: 0;
}

// BIO SECTION

.bioSection {
  scroll-margin-top: 30rem;
}

.bio {
  background: linear-gradient(to bottom, $tertiary, $quarternary, $tertiary);
  h3 {
    @include headers(inherit, 1.6rem, uppercase);
  }
  .projectUnderline {
    border: 1px solid $secondaryText;
    opacity: 0.5;
  }
}

.bioContent {
  bottom: 16rem;
}

.photo {
  max-width: 34rem;
}

.photo img {
  border-radius: 0.5rem;
}

.photoBackground,
footer {
  @include altColorTheme();
}

.photoBackground {
  height: 40rem;
  padding: 0;
}

// SKILLS SECTION

.skillsSection {
  h2 {
    padding-top: 3rem;
  }
  ul.skills {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  li {
    margin-top: 5rem auto;
  }
}

.logoContainer,
.image .arrow {
  width: 4rem;
}

.logoContainer {
  min-height: 3rem;
}

div.colorBanner {
  background-color: $secondary;
  height: 10rem;
}

// PROJECTS SECTION

.projects .vertical,
.skillsSection .vertical {
  top: -8rem;
}

.projects {
  scroll-margin-top: -6rem;
  .image,
  .cardWrittenContent {
    flex-basis: 50%;
    .projectUnderline {
      border-radius: 1rem;
      max-width: 34rem;
      width: 80%;
      margin: 0 auto 2rem 0;
      opacity: 0.7;
    }
  }
  .card {
    background: linear-gradient(to bottom, $tertiary, $quarternary, $tertiary);
    margin: 6rem auto;
    .innerCard {
      @include flex(flex, column, auto, auto);
    }
    h3 {
      font-size: 1.8rem;
      max-width: 80%;
    }
  }

  h2 {
    top: 7.5rem;
  }
  ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    li {
      min-width: 7.5rem;
    }
  }

  .image {
    width: 90%;
    p {
      right: -7.2rem;
      top: 10rem;
    }
    .arrow {
      right: -2rem;
      top: 1rem;
      padding: 0.5rem;
      background-color: $highlight;
    }
    img {
      border-radius: 0.4rem;
    }
  }
  li p {
    margin: 0.2rem;
    font-size: 1.6rem;
  }
}

.projects ul {
  @include flex(flex, row, center, center);
}

.cardWrittenContent {
  h3 {
    align-self: start;
  }
}

.code {
  padding: 1rem;
}

.code:hover {
  opacity: 0.9;
  transition: ease 0.4s;
}

// FOOTER

footer {
  margin-top: 15rem;
  scroll-margin-top: 0;
  h2 {
    left: -2.5rem;
    top: 0.5rem;
  }
  a,
  p {
    @include text($primaryText, auto, auto);
  }
  label {
    @include headers($primaryText, 1.8rem, uppercase);
  }
  ul {
    width: 70%;
    margin-top: 4rem;
    @include flex(flex, auto, space-between, center);
  }
  i {
    margin-right: 1rem;
    font-size: 3rem;
  }
  .copy {
    margin-top: 6rem;
    font-size: 2rem;
  }
  .vertical {
    top: -3.5rem;
  }
}

footer label,
form input {
  margin: 0.5rem 0;
}

form {
  margin-top: 4.5rem;
  textarea {
    height: 8rem;
    resize: none;
  }
  button {
    background-color: $secondaryText;
  }
}
