.projects {
  &__colorBanner {
    background-color: $secondary;
    height: 10rem;
    margin-bottom: 8rem;
  }
  &__wrapper,
  &__titleWrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }
  &__titleWrapper {
    height: 10rem;
    position: relative;
  }
  &__titleContainer {
    position: absolute;
    left: -4.8rem;
    transform: rotate(-90deg);
    bottom: -1.8rem;
  }
  &__title {
    @include headers(inherit, 2.4rem, uppercase);
    letter-spacing: 0.4rem;
  }
  &__underline {
    width: 120%;
    border-bottom: 3px solid $highlight;
    margin: 0.3rem 0 0;
    border-radius: 0.5rem;
  }
  &__cards {
    @include flex(column, center, center);
  }
}
