.skills {
  background-color: $tertiary;
  padding-bottom: 2rem;
  &__colorBanner {
    background-color: $secondary;
    height: 10rem;
  }
  &__wrapper,
  &__titleWrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
  }
  &__titleWrapper {
    height: 10rem;
    position: relative;
  }
  &__titleContainer {
    position: absolute;
    left: -3rem;
    transform: rotate(-90deg);
    bottom: -1.5rem;
  }
  &__title {
    @include headers(inherit, 2.4rem, uppercase);
    letter-spacing: 0.4rem;
  }
  &__underline {
    width: 120%;
    border-bottom: 3px solid $highlight;
    margin: 0.3rem 0 0;
    border-radius: 0.5rem;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  }
  &__skillItem {
    @include flex(column, flex-start, center);
    margin: 1.5rem 0;
  }
  &__skill {
    @include text($primaryText, 2rem, auto);
    margin: 1rem 0;
    text-align: center;
  }
  &__skillItem:hover {
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
  }
  &__icon {
    font-size: 4rem;
  }
  &__logoContainer {
    max-width: 4rem;
  }
  &__logoImage {
    width: 100%;
  }
  &__learning {
    @include headers($primaryText, 1.8rem, uppercase);
  }
  &__underline--learning {
    width: 100%;
    max-width: 40rem;
    border-bottom: 3px solid $highlight;
    margin: 0.3rem 0 0;
    border-radius: 0.5rem;
  }
  &__container--learning {
    margin: 2rem;
    @include flex(column, center, center);
  }
  &__list--learning {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 650px) {
  .skills {
    &__icon {
      font-size: 6rem;
    }
    &__logoContainer {
      max-width: 6rem;
    }
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__skillItem {
      @include flex(column, flex-start, center);
      margin: 2.5rem 0;
    }
    &__learning {
      font-size: 2.6rem;
    }
  }
}

@media (min-width: 940px) {
  .skills {
    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__skillItem {
      margin: 5rem 0;
    }
  }
}
