    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
    // blue 2a5aef
    // grey e6e6e6
    // green dof54e
    // black 0f0f0f

    $primaryText: #0f0f0f;
    $secondaryText: #FFFFFF;
    $secondary: #405E8E;
    $tertiary: #E6E6E6;
    $highlight: #C1666B;

    @mixin headers($color, $fontSize, $textTransform){
        font-family: "Monserrat", sans-serif;
        color: $color;
        font-size: $fontSize;
        text-transform: $textTransform;
    }

    @mixin altColorTheme {
        background-color: $secondary;
        color: $secondaryText;
    }

    @mixin flex($display, $flexDirection, $justifyContent, $alignItems){
        display: $display;
        flex-direction: $flexDirection;
        justify-content: $justifyContent;
        align-items: $alignItems;
    }