$primaryText: #111111;
$secondaryText: #ffffff;
$secondary: #2e86ab;
$highlight: #d2898d;
$tertiary: #f1f0eb;
$quarternary: #dddddd;

@mixin headers($color, $fontSize, $textTransform) {
  font-family: "Monserrat", sans-serif;
  color: $color;
  font-size: $fontSize;
  text-transform: $textTransform;
}

@mixin text($color, $fontSize, $textTransform) {
  font-family: "Playfair Display", serif;
  color: $color;
  font-size: $fontSize;
  text-transform: $textTransform;
}

@mixin altColorTheme {
  background-color: $secondary;
  color: $primaryText;
}

@mixin flex($display, $flexDirection, $justifyContent, $alignItems) {
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
