$primaryText: #111111;
$secondaryText: #ffffff;
$secondary: #2e86ab;
$highlight: #d2898d;
$tertiary: #f1f0eb;
$quarternary: #dddddd;

// font-family: "Monserrat", sans-serif;
@mixin headers($color, $fontSize, $textTransform) {
  font-family: "Staatliches", sans-serif;
  color: $color;
  font-size: $fontSize;
  text-transform: $textTransform;
}

// font-family: "Playfair Display", serif;
@mixin text($color, $fontSize, $textTransform) {
  font-family: "Didact Gothic", sans-serif;
  color: $color;
  font-size: $fontSize;
  text-transform: $textTransform;
}

@mixin altColorTheme {
  background-color: $secondary;
  color: $primaryText;
}

@mixin flex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
