html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1,
header h2 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
}

header h1 {
  font-size: 2.2rem;
}

header .projectUnderline {
  margin: 0.5rem 0;
}

header .upperNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: #e6e6e6;
  width: 100%;
  padding: 0 8%;
  height: 12rem;
}

header ul.navbar {
  left: 0;
  top: -26rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

header ul.navbar {
  position: fixed;
}

header ul li a {
  width: 100%;
  display: inline-block;
  padding: 1.5rem;
  background-color: #ffffff;
}

header input[type="checkbox"]:checked + ul.navbar {
  top: 12rem;
}

header input[type="checkbox"] {
  display: none;
}

header ul li {
  border: 1px solid #ffffff;
  width: 100%;
}

header ul li:hover {
  border: 1px solid #d2898d;
}

@media (min-width: 940px) {
  header ul.navbar {
    width: 100%;
    position: static;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6%;
  }
  header ul.navbar a {
    width: 25%;
    background-color: #e6e6e6;
    padding: .5rem;
  }
  header ul li {
    border: 1px solid #e6e6e6;
    padding: 1rem;
  }
  header ul li a {
    display: inline;
  }
  header .fa-bars {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 17rem;
}

body {
  background-color: #e6e6e6;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
}

.underlines {
  width: 110%;
  border-bottom: 3px solid #d2898d;
}

p {
  font-family: "Playfair Display", serif;
  color: #0f0f0f;
  font-size: 1.6rem;
  text-transform: none;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

h3 {
  letter-spacing: 0.08rem;
  padding: 0.4rem 0;
}

.relativeContainer {
  position: relative;
}

.vertical {
  left: -4.5rem;
}

button {
  width: 16rem;
  background-color: transparent;
  border: 3px solid #d2898d;
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.4rem;
  text-transform: uppercase;
}

button,
.code,
footer label {
  letter-spacing: 0.3rem;
}

.wrapper,
ul.skills {
  margin: 0 auto;
}

.code,
button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h3,
.bio h2 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 2.2rem;
  text-transform: uppercase;
}

header i {
  font-size: 2.2rem;
}

p,
.card h3 {
  font-weight: 400;
}

button,
.card,
.projects li,
textarea,
input {
  padding: 1rem;
}

button,
.bio h3,
.code {
  font-weight: 600;
}

footer label {
  font-weight: 500;
}

.vertical,
.image p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.vertical,
.image p,
.image .arrow {
  position: absolute;
}

.photo img,
.image img,
form,
input,
textarea,
header,
.photo,
.logoContainer img {
  width: 100%;
}

header h2,
.card h3 {
  letter-spacing: 0.2rem;
}

.bioContent,
.image,
.projects,
.skillsSection,
footer {
  position: relative;
}

.projectUnderline,
input:hover,
input:focus-within,
textarea:hover,
textarea:focus-within {
  border: 1px solid #d2898d;
}

header ul li a,
.image p {
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.8rem;
  text-transform: uppercase;
}

header ul li,
.skillsSection p,
.code,
.copy {
  text-align: center;
}

button,
a,
.burger {
  cursor: pointer;
}

.bio p,
.projectUnderline,
.projects ul,
form button {
  margin-top: 2rem;
}

.projects h2,
.skillsSection h2,
.image p,
footer h2 {
  letter-spacing: 0.4rem;
}

.skillsSection,
.techUsed {
  background-color: #ffffff;
}

.code:hover,
.arrow:hover,
.code:focus-within,
.arrow:focus-within {
  border: 3px solid #0f0f0f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d2898d;
}

button:hover,
button:focus-within {
  border: 3px solid #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.projects li,
.cards,
.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skillsSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects h2,
.skillsSection h2,
.contact h2 {
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0;
}

.lastChild,
.card,
.colorBanner {
  margin-bottom: 5rem;
}

.card,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.card h3,
textarea {
  margin-top: 1rem;
}

.image .arrow,
input {
  height: 4rem;
}

.card i {
  font-size: 4rem;
}

.card ul,
.photo {
  margin-bottom: 2rem;
}

.projects ul,
.skillsSection p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3,
button,
.techUsed {
  margin: 1rem 0;
}

.cardWrittenContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.code,
button {
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.8rem;
  text-transform: uppercase;
}

form,
footer ul,
.innerCard {
  max-width: 60rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #e6e6e6;
}

.bioSection {
  scroll-margin-top: 30rem;
}

.bio {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), color-stop(#6e6a6a), to(#e6e6e6));
  background: linear-gradient(to bottom, #e6e6e6, #6e6a6a, #e6e6e6);
}

.bio h3 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.bio .projectUnderline {
  border: 1px solid #ffffff;
  opacity: 0.5;
}

.bioContent {
  bottom: 16rem;
}

.photo {
  max-width: 34rem;
}

.photoBackground {
  background-color: #4f77b9;
  color: #ffffff;
  height: 40rem;
  padding: 0;
}

.skillsSection .vertical,
.skillsSection h2 {
  top: -2rem;
}

.skillsSection h2 {
  padding-top: 3rem;
}

.skillsSection ul.skills {
  padding: 3rem 0;
  gap: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.skillsSection li {
  margin-top: 5rem auto;
}

.skillsSection p {
  margin-top: 1rem;
}

.skillsSection i {
  font-size: 4rem;
}

.logoContainer {
  width: 4rem;
  min-height: 3rem;
}

.image .arrow,
.code:hover {
  background-color: #d2898d;
}

.projects .vertical {
  top: -8rem;
}

.projects {
  scroll-margin-top: -6rem;
}

.projects .image,
.projects .cardWrittenContent {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.projects .image .projectUnderline,
.projects .cardWrittenContent .projectUnderline {
  border-radius: 1rem;
  max-width: 34rem;
  width: 80%;
  margin: 0 auto 2rem 0;
  opacity: 0.7;
}

.projects .card {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), color-stop(#d3d6d6), to(#e6e6e6));
  background: linear-gradient(to bottom, #e6e6e6, #d3d6d6, #e6e6e6);
  margin: 6rem auto;
}

.projects .card .innerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.projects .card h3 {
  font-size: 1.8rem;
  max-width: 80%;
}

.projects div.colorBanner {
  background-color: #4f77b9;
  height: 10rem;
}

.projects h2 {
  top: 7.5rem;
}

.projects ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects ul li {
  min-width: 7.5rem;
}

.projects .image {
  width: 90%;
}

.projects .image p {
  right: -7.2rem;
  top: 10rem;
}

.projects .image .arrow {
  width: 4rem;
  right: -2rem;
  top: 1rem;
  padding: 0.5rem;
  border: 3px solid #d2898d;
}

.projects .image img {
  border-radius: 0.4rem;
}

.projects li p {
  margin: 0.2rem;
  font-size: 1.6rem;
}

.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardWrittenContent h3 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.code {
  background-color: transparent;
  border: 3px solid #d2898d;
  width: 16rem;
  padding: 1rem;
}

.code:hover {
  opacity: 0.9;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

footer .vertical {
  top: -3.5rem;
}

footer {
  margin-top: 15rem;
  scroll-margin-top: 0;
  background-color: #4f77b9;
  color: #ffffff;
  padding: 3rem 0;
}

footer h2 {
  left: -2.5rem;
  top: 0.5rem;
}

footer a,
footer p {
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-size: auto;
  text-transform: auto;
}

footer label {
  font-family: "Monserrat", sans-serif;
  color: #ffffff;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

footer ul {
  width: 70%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  margin-right: 1rem;
  font-size: 3rem;
}

footer .copy {
  margin-top: 6rem;
}

form {
  margin-top: 4.5rem;
}

form textarea {
  height: 8rem;
  resize: none;
}

form button {
  color: #ffffff;
}

form input {
  margin: 0.5rem 0;
}

@media (min-width: 650px) {
  .bioContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 70rem;
    margin: 0 auto;
  }
  .photo {
    width: 50%;
  }
  .writtenContentTitles {
    width: calc(50% - 8rem);
    margin: 0 4rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    top: 8.5rem;
  }
  .blurb {
    max-width: 100%;
    margin: 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .skillsSection .skills li {
    margin: 2rem;
    width: calc(50% - 4rem);
  }
  .skillsSection .skills i {
    font-size: 6rem;
  }
  .skillsSection li .logoContainer {
    width: 6rem;
  }
  .skillsSection p {
    font-size: 2rem;
  }
  .skillsSection ul.skills {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  form input {
    min-width: 22rem;
  }
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 940px) {
  .skillsSection ul.skills {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .projects .card .innerCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90rem;
  }
  .image {
    margin-right: 4rem;
  }
  .innerCardEven .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .innerCardEven .cardWrittenContent {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .cardWrittenContent {
    margin: 0 2rem;
  }
  .projects .card h3 {
    font-size: 2.2rem;
  }
  footer .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    margin: 0;
  }
}
