html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #f1f0eb;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #f1f0eb;
  z-index: 30;
}

.nav {
  background-color: #f1f0eb;
}

.nav__wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.nav__pageTitle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f0eb;
  height: 17vh;
  z-index: 20;
}

.nav__name {
  font-family: "Staatliches", sans-serif;
  color: #111111;
  font-size: 3rem;
  text-transform: uppercase;
}

.nav__underline {
  width: 100%;
  border-bottom: 3px solid #d2898d;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.nav__jobTitle {
  font-family: "Staatliches", sans-serif;
  color: #111111;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.nav__burger {
  font-size: 2.2rem;
}

.nav__burger:hover {
  cursor: pointer;
}

.nav__navbarLink {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-family: "Monserrat", sans-serif;
  color: #111111;
  background-color: #f1f0eb;
  text-transform: uppercase;
}

.nav__navbar {
  z-index: -1;
  left: 0;
  top: -17.1vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  position: absolute;
}

.nav__navbarItem {
  border: 1px solid #f1f0eb;
  width: 100%;
}

.nav__navbarItem:hover {
  border: 1px solid #d2898d;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav__checkbox[type="checkbox"]:checked + .nav__navbar {
  top: 17vh;
}

.nav__checkbox[type="checkbox"] {
  display: none;
}

@media (min-width: 940px) {
  .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__navbar {
    width: 40%;
    position: static;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 20;
  }
  .nav__burger {
    display: none;
  }
  .nav__navbarLink {
    min-width: 12.5rem;
  }
}

.bio__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f0eb), color-stop(#dddddd), to(#f1f0eb));
  background: linear-gradient(to bottom, #f1f0eb, #dddddd, #f1f0eb);
}

.bio__photoBackground {
  background-color: #2e86ab;
  color: #111111;
  height: 35rem;
  padding: 0;
}

.bio__wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.bio__card {
  position: relative;
  bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 70rem;
  margin: 0 auto;
}

.bio__imageContainer {
  max-width: 32.5rem;
}

.bio__image {
  border-radius: 0.5rem;
  width: 100%;
}

.bio__writtenContentTitles {
  margin: 1.5rem 0;
}

.bio__name {
  font-family: "Staatliches", sans-serif;
  color: #111111;
  font-size: 3rem;
  text-transform: auto;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.bio__jobTitle {
  font-family: "Staatliches", sans-serif;
  color: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.bio__underline {
  border: 1px solid #ffffff;
  opacity: 0.5;
  margin-top: 2rem;
}

.bio__introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bio__intro {
  font-family: "Didact Gothic", sans-serif;
  color: #111111;
  font-size: 1.8rem;
  text-transform: auto;
  line-height: 2.4rem;
  margin: 1rem 0;
}

.bio__socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  max-width: 30rem;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.bio__socialIcon {
  font-size: 4rem;
  color: #111111;
}

@media (min-width: 650px) {
  .bio__personalInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  .bio__writtenContentTitles {
    margin: 4rem auto;
    width: 40%;
  }
  .bio__introContainer {
    margin-top: 2rem;
  }
}

.skills {
  background-color: #f1f0eb;
  padding-bottom: 2rem;
}

.skills__colorBanner {
  background-color: #2e86ab;
  height: 10rem;
}

.skills__wrapper, .skills__titleWrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.skills__titleWrapper {
  height: 10rem;
  position: relative;
}

.skills__titleContainer {
  position: absolute;
  left: -3rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: -1.5rem;
}

.skills__title {
  font-family: "Staatliches", sans-serif;
  color: inherit;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.skills__underline {
  width: 120%;
  border-bottom: 3px solid #d2898d;
  margin: 0.3rem 0 0;
  border-radius: 0.5rem;
}

.skills__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}

.skills__skillItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

.skills__skill {
  font-family: "Didact Gothic", sans-serif;
  color: #111111;
  font-size: 2rem;
  text-transform: auto;
  margin: 1rem 0;
  text-align: center;
}

.skills__skillItem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.skills__icon {
  font-size: 4rem;
}

.skills__logoContainer {
  max-width: 4rem;
}

.skills__logoImage {
  width: 100%;
}

.skills__learning {
  font-family: "Staatliches", sans-serif;
  color: #111111;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.skills__underline--learning {
  width: 100%;
  max-width: 40rem;
  border-bottom: 3px solid #d2898d;
  margin: 0.3rem 0 0;
  border-radius: 0.5rem;
}

.skills__container--learning {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__list--learning {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 50%;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .skills__icon {
    font-size: 6rem;
  }
  .skills__logoContainer {
    max-width: 6rem;
  }
  .skills__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .skills__skillItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2.5rem 0;
  }
  .skills__learning {
    font-size: 2.6rem;
  }
}

@media (min-width: 940px) {
  .skills__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.projects__colorBanner {
  background-color: #2e86ab;
  height: 10rem;
  margin-bottom: 8rem;
}

.projects__wrapper, .projects__titleWrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.projects__titleWrapper {
  height: 10rem;
  position: relative;
}

.projects__titleContainer {
  position: absolute;
  left: -4.8rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: -1.8rem;
}

.projects__title {
  font-family: "Staatliches", sans-serif;
  color: inherit;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.projects__underline {
  width: 120%;
  border-bottom: 3px solid #d2898d;
  margin: 0.3rem 0 0;
  border-radius: 0.5rem;
}

.projects__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f0eb), color-stop(#dddddd), to(#f1f0eb));
  background: linear-gradient(to bottom, #f1f0eb, #dddddd, #f1f0eb);
  margin: 2rem 3%;
  border-radius: 0.5rem;
}

.card__container {
  margin: 0 3%;
  padding: 2rem 0;
}

.card__projectImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  position: relative;
}

.card__imageContainer--arrow {
  background-color: #d2898d;
  padding: 0.6rem;
  width: 4rem;
  border: 3px solid #d2898d;
}

.card__imageContainer--arrow:hover {
  border: 4px solid #111111;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.card__projectTitle {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1rem 0 0.5rem 0;
  font-family: "Staatliches", sans-serif;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: normal;
}

.card__projectImage {
  border-radius: 0.5rem;
}

.card__arrow {
  width: 100%;
}

.card__liveSiteButtonContainer {
  position: absolute;
  top: 2rem;
  right: -2rem;
}

.card__liveSite {
  font-family: "Staatliches", sans-serif;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 11rem;
  position: absolute;
  top: 6rem;
  left: -2.2rem;
}

.card__projectUnderline {
  height: 0.2rem;
  background-color: #d2898d;
  border-radius: 1rem;
  max-width: 34rem;
  width: 80%;
  margin: 0 auto 2rem 0;
  opacity: 0.7;
}

.card__projectDescription {
  font-family: "Didact Gothic", sans-serif;
  color: #111111;
  font-size: 1.8rem;
  text-transform: none;
  font-size: 1.8rem;
}

.card__icon {
  font-size: 4rem;
}

.card__logoContainer {
  width: 3.8rem;
  margin: 0 1rem;
}

.card__techList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0;
}

.card__techUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.card__code {
  font-family: "Staatliches", sans-serif;
  color: #111111;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 3px solid #d2898d;
  width: 16rem;
  background-color: transparent;
  letter-spacing: 0.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
}

.card__code:hover, .card__code:focus {
  cursor: pointer;
}

.card__writtenContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 940px) {
  .card {
    width: 100%;
    margin: 4rem 0;
  }
  .card__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3rem 0 5rem;
  }
  .card__projectImageContainer {
    width: 50%;
  }
  .card__writtenContentContainer {
    width: 45%;
    margin-left: 5%;
  }
}

.card:nth-child(even) > .card__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card:nth-child(even) > .card__container > .card__writtenContentContainer {
  margin: 0 3% 0 0;
}

.footer {
  background-color: #2e86ab;
  margin-top: 8rem;
}

.footer__wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.footer__container {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  padding: 4rem 0 2rem;
}

.footer__socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  max-width: 35rem;
  width: 100%;
}

.footer__socialIcon {
  font-size: 4rem;
  color: #ffffff;
}

.footer__copy {
  font-family: "Didact Gothic", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  text-transform: none;
  margin-bottom: 2rem;
}

@media (min-width: 940px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
