html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1,
header h2 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
}

header h1 {
  font-size: 2.2rem;
}

header .projectUnderline {
  margin: 0.5rem 0;
}

header .upperNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: #E6E6E6;
  width: 100%;
  padding: 0 8%;
  height: 12rem;
}

header ul.navbar {
  left: 0;
  top: -26rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

header ul.navbar {
  position: fixed;
}

header ul li a {
  width: 100%;
  display: inline-block;
  padding: 1.5rem;
  background-color: #FFFFFF;
}

header input[type="checkbox"]:checked + ul.navbar {
  top: 12rem;
}

header input[type="checkbox"] {
  display: none;
}

header ul li {
  border: 1px solid #FFFFFF;
  width: 100%;
}

header ul li:hover {
  border: 1px solid #C1666B;
}

@media (min-width: 940px) {
  header ul.navbar {
    width: 100%;
    position: static;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6%;
  }
  header ul.navbar a {
    width: 25%;
    background-color: #E6E6E6;
    padding: .5rem;
  }
  header ul li {
    border: 1px solid #E6E6E6;
    padding: 1rem;
  }
  header ul li a {
    display: inline;
  }
  header .fa-bars {
    display: none;
  }
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.relativeContainer {
  position: relative;
}

body {
  background-color: #E6E6E6;
}

h3,
.bio h2 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 2.2rem;
  text-transform: uppercase;
}

button,
header i {
  font-size: 2.2rem;
}

h3 {
  letter-spacing: 0.08rem;
  padding: 0.4rem 0;
}

p,
.card h3 {
  font-weight: 400;
}

p {
  font-family: "Playfair Display", serif;
  color: #0f0f0f;
  font-size: 1.6rem;
  text-transform: none;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

button,
.card,
.projects li,
textarea,
input {
  padding: 1rem;
}

button,
.bio h3 {
  font-weight: 600;
}

.vertical,
.image p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.vertical,
.image p,
.image button {
  position: absolute;
}

.vertical {
  left: -4.5rem;
}

.skillsSection .vertical {
  top: -2rem;
}

.projects .vertical {
  top: -8rem;
}

footer .vertical {
  top: -3.5rem;
}

button {
  width: 16rem;
  background-color: transparent;
  border: 3px solid #C1666B;
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.underlines {
  border-bottom: 3px solid #C1666B;
}

.photo img,
.image img,
form,
input,
textarea {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2,
.card h3 {
  letter-spacing: 0.2rem;
}

.bioContent,
.image,
.projects,
.skillsSection,
footer {
  position: relative;
}

.projectUnderline,
input:hover,
input:focus-within,
textarea:hover,
textarea:focus-within {
  border: 1px solid #C1666B;
}

header ul li a,
.image p {
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.8rem;
  text-transform: uppercase;
}

header ul li,
.skillsSection p {
  text-align: center;
}

button,
a {
  cursor: pointer;
}

.underlines {
  width: 110%;
}

.photo {
  max-width: 34rem;
  width: 100%;
  margin-bottom: 2rem;
}

.bioContent {
  bottom: 16rem;
}

.skillsSection,
.techUsed {
  background-color: #FFFFFF;
}

.photoBackground {
  background-color: #405E8E;
  color: #FFFFFF;
  height: 40rem;
  padding: 0;
}

.bio p,
.projectUnderline,
.projects ul,
form button {
  margin-top: 2rem;
}

.projects h2,
.skillsSection h2,
.image p,
footer h2 {
  letter-spacing: 0.4rem;
}

.bio {
  background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), color-stop(#747272), to(#E6E6E6));
  background: linear-gradient(to bottom, #E6E6E6, #747272, #E6E6E6);
  max-height: 100rem;
}

.bio h3 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.bio .projectUnderline {
  border: 1px solid #FFFFFF;
  opacity: 0.2;
}

button:hover,
button:focus-within {
  border: 3px solid #0f0f0f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skillsSection ul,
.projects li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects h2,
.skillsSection h2,
footer h2 {
  font-family: "Monserrat", sans-serif;
  color: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0;
}

.skillsSection .logos,
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsSection {
  margin: 8rem 0;
}

.skillsSection h2 {
  top: -2rem;
  padding-top: 3rem;
}

.skillsSection ul {
  margin: 3rem 0;
}

.skillsSection p {
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsSection i {
  font-size: 3rem;
}

.logos {
  margin-bottom: 0;
}

.logos li {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 8rem;
}

.logoContainer {
  width: 3rem;
  min-height: 3rem;
}

.logoContainer img {
  width: 100%;
}

.lastChild,
.card,
.colorBanner {
  margin-bottom: 5rem;
}

.card,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.card h3,
input,
textarea {
  margin-top: 1rem;
}

.image button,
input {
  height: 4rem;
}

.cardWrittenContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardWrittenContent h3 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .image,
.projects .cardWrittenContent {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.projects .image .projectUnderline,
.projects .cardWrittenContent .projectUnderline {
  border-radius: 1rem;
  max-width: 30rem;
  width: 80%;
  margin: 0 auto 2rem 0;
  opacity: 0.4;
}

.projects .card {
  background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), color-stop(#d3d6d6), to(#E6E6E6));
  background: linear-gradient(to bottom, #E6E6E6, #d3d6d6, #E6E6E6);
  margin: 6rem auto;
}

.projects .card .innerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  max-width: 60rem;
}

.projects .card h3 {
  font-size: 1.8rem;
  max-width: 80%;
}

.projects div.colorBanner {
  background-color: #405E8E;
  height: 10rem;
}

.projects h2 {
  top: 7.5rem;
}

.projects ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.projects ul li {
  min-width: 7.5rem;
}

.projects ul li p {
  font-size: 1.6rem;
}

.projects .image {
  width: 90%;
}

.projects .image p {
  right: -7.2rem;
  top: 10rem;
}

.projects .image button {
  width: 4rem;
  right: -2rem;
  background-color: #C1666B;
}

.projects .image img {
  border-radius: 0.4rem;
}

.projects h3,
.projects button,
.projects .techUsed {
  margin: 1rem 0;
}

.projects li p {
  margin: 0.2rem;
  font-size: 1.6rem;
}

.card i,
footer i {
  font-size: 2rem;
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form {
  margin-top: 4.5rem;
}

form textarea {
  height: 8rem;
  resize: none;
}

form button {
  color: #FFFFFF;
}

form,
footer ul {
  max-width: 60rem;
}

footer {
  margin-top: 15rem;
  background-color: #405E8E;
  color: #FFFFFF;
  padding: 3rem 0;
}

footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h2 {
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0;
  left: -2.5rem;
  top: 0.5rem;
}

footer a,
footer p {
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: auto;
  text-transform: auto;
}

footer label {
  font-family: "Monserrat", sans-serif;
  color: #FFFFFF;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin: 0.5rem 0;
}

footer ul {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0;
}

footer i {
  margin-right: 1rem;
}

footer .copy {
  text-align: center;
  margin-top: 6rem;
}

.code {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: transparent;
  font-family: "Monserrat", sans-serif;
  color: #0f0f0f;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: 3px solid #C1666B;
  width: 16rem;
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: 600;
  padding: 1rem;
}

@media (min-width: 650px) {
  .bioContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 70rem;
    margin: 0 auto;
  }
  .photo {
    width: 50%;
  }
  .writtenContentTitles {
    width: calc(50% - 8rem);
    margin: 0 4rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    top: 8.5rem;
  }
  .blurb {
    max-width: 100%;
    margin: 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .skillsSection .skills li {
    margin: 2rem;
    width: calc(50% - 4rem);
  }
  .skillsSection .skills i {
    font-size: 6rem;
  }
  .skillsSection .logos svg {
    width: 6rem;
  }
  .skillsSection .logos .logoContainer {
    width: 6rem;
  }
  .skillsSection p {
    font-size: 2rem;
  }
  form input {
    min-width: 22rem;
  }
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 940px) {
  .projects .card .innerCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90rem;
  }
  .image {
    margin-right: 4rem;
  }
  .innerCardEven .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .innerCardEven .cardWrittenContent {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .cardWrittenContent {
    margin: 0 2rem;
  }
  .projects .card h3 {
    font-size: 2.2rem;
  }
  footer .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    margin: 0;
  }
}
